#navbar {
    font-family: 'Roboto-Thin', 'Roboto';

    display:flex;
    align-items:center;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;
    height: 65px;

    background-color: lightgreen;
}

#navitem {
    list-style: none;
    padding: 50px;
    font-size: 15pt;
}

#navitem:hover {
    color: lightgreen;
    background-color: black;
    cursor: pointer;
}

#icon {
    list-style: none;
    padding: 15px;
    font-size: 15pt;
    margin-left: auto;
    align-items: center;
}
