#navbar {
    font-family: 'Roboto-Thin', 'Roboto';

    display:flex;
    align-items:center;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;
    height: 65px;
    width:100%;

    background-color: lightgreen;
}

#navitem {
    list-style: none;
    padding: 50px;
    font-size: 15pt;

    color:black;
}

#navitem:hover {
    color:lightgreen
}

li:hover {
    -webkit-text-fill-color: lightgreen;
    color: lightgreen;
    background-color: black;
}

#icon {
    list-style: none;
    padding: 15px;
    font-size: 15pt;
    margin-left: auto;
    align-items: center;
}

#link:hover {
    text-decoration-color: lightgreen;
    text-emphasis-color: lightgreen;
    -webkit-text-fill-color: lightgreen;
    color: lightgreen;
    background-color: black;
}
