#Course {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 50px;
    width:fit-content;
    height: 50px;
    width: 500px;
}

#Course:hover {
    color:lightgreen;
}

#materialLearned {
    text-align: left;
    line-height: 30px;
}