#Course {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 50px;
    width: 600px;
    height: 50px;
    overflow: hidden;
}

#Course:hover {
    color:lightgreen;
    /*height: 300px;*/
}

#InnerText {
    line-height: 35px;
}