#contactForm {
    height: 800px;
    width: 600px;

    border-style: solid;
    border-color: lightgreen;
    border-radius: 25px;
}

#messageBox {
    height: 300px;
    width: 520px;

    font-family: 'Roboto-Thin', 'Roboto';
    font-size: 15pt;
    resize: none;
}

#nameBox {
    font-family: 'Roboto-Thin', 'Roboto';
    font-size: 15pt;

    height: 30px;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;

    resize: none;
}

#emailBox, #subjectBox {
    font-family: 'Roboto-Thin', 'Roboto';
    font-size: 15pt;

    height: 30px;

    margin-left: 40px;
    margin-right: 40px;

    resize: none;
}

#sendButton {
    color:white;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-radius: 15pt;

    height: 75px;
    width:225px;
    font-size: 25pt;

    font-family: 'Roboto-Thin', 'Roboto';
}

#sendButton:hover {
    cursor:pointer;
    color:lightgreen;
    border-color: lightgreen;
}

#infoContainer {
    text-align: left;
}

#contactMe {
    display: inline;
    text-align: center;
    font-size: 30pt;
}