.TopicCollapsible {
    justify-content: center;
}

.TopicCollapsible__trigger {
    border-radius: 15px;
    border-color: lightgreen;
    border-width: 3px;
    border-style: solid;

    display: block;
    position: relative;
    
    padding: 15px;
    margin-top: 20px;

}

.TopicCollapsible__trigger::after {
    content: '⏷';
    right: 25px;
    top: 14px;
    position: absolute;
    display: block;
    transition: transform 500ms;
}

.TopicCollapsible__trigger.is-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    color: black;
    background-color: lightgreen;
}

.TopicCollapsible__trigger.is-open::after {
    transform: rotateZ(180deg);
    color: black;
}

.TopicCollapsible__trigger.is-closed {
    color: white;
    background-color: black;
}

.TopicCollapsible__trigger.is-closed::after {
    color: white;
}

.TopicCollapsible__trigger:hover {
    cursor: pointer;

    color: black;
    background-color: lightgreen;
}

.TopicCollapsible__trigger:hover::after {
    color: black;
}

.TopicCollapsible__contentOuter {
    background-color: black;
}

.TopicCollapsible__contentInner {
    color:white;
    background-color: darkslategrey;

    border-style: solid;
    border-color: lightgreen;
    border-top-color: darkslategrey;

    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

#ClassList {
    list-style: none;
}

.CourseCollapsible {
    color: darkslategrey;
    background-color: darkslategrey;
}

.CourseCollapsible__trigger {
    border-radius: 15px;
    border-color: lightgreen;
    border-width: 3px;
    border-style: solid;

    display: block;
    position: relative;
    
    padding: 10px;
    margin-top: 10px;
    margin-right: 40px;

    background-color: black;
    color: white;
}

.CourseCollapsible__trigger::after {
    content: '⏶';
    right: 25px;
    top: 9px;
    position: absolute;
    display: block;
    transition: transform 300ms; 
}

.CourseCollapsible__trigger.is-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    color: black;
    background-color: lightgreen;
}

.CourseCollapsible__trigger.is-open::after {
    transform: rotateZ(360deg);
    color: black;
}

.CourseCollapsible__trigger.is-closed {
    color: white;
    background-color: black;
}

.CourseCollapsible__trigger.is-closed::after {
    transform: rotateZ(180deg);
    color: white;
}

.CourseCollapsible__trigger:hover {
    cursor: pointer;

    color: black;
    background-color: lightgreen;
}

.CourseCollapsible__trigger:hover::after {
    color: black;
}

.CourseCollapsible__contentOuter {
    background-color: darkslategrey;
}

.CourseCollapsible__contentInner {
    color:white;
    background-color: black;

    border-style: solid;
    border-color: lightgreen;
    border-top-color: black;

    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
    margin-right: 40px;
}