#PopupWindow {
    position: absolute;
    z-index: 1;
    overflow: hidden;

    background-color: black;
    color:white;

    border-style: solid;
    border-color:white;
    border-radius: 30px;

    height:600px;
    width:600px;
}

#closeButton {
    height:35px;
    width:35px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;

    font-size: 20pt;
    text-align: center;

    color:orange;
    background-color: black;

    border-style: solid;
    border-color: black;
}

#closeButton:hover {
    cursor: pointer;
}

#repoLink {
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

#repoLink:hover {
    color:lightgreen;
}

#popupHeader {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

#projectDescription {
    font-size: 15pt;
    text-align: left;
    margin-right: 10px;
}

#language {
    font-size: 15pt;
    line-height: 10pt;
    margin-bottom: 15px;
}