#skillList {
    display: inline-block;
    margin-right: 50px;
    margin-left: 75px;
    margin-top: 25px;
    line-height: 75px;
    overflow:scroll;

    height:fit-content;
    width:fit-content;
    vertical-align: top;

    font-size: 25pt;
}

#skills {
    text-align: left;
    line-height: 35px;
    font-size: 17pt;
}