#ProjectButton {
    color:white;
    background-color: black;
    border-color:lightgreen;

    width:400px;
    height:700px;
    border-radius: 50px;
    border-style: solid;

    text-align: center;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;

    font-size: 25pt;
}

#description {
    font-size: 15pt;
    margin-left: 15pt;
    margin-right: 15pt;
}

#RepoLink {
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

#RepoLink:hover {
    color:orange;
}

#ProjectName {
    width: fit-content;
}

#ProjectName:hover {
    color:lightgreen;
    cursor:pointer;
}
