@font-face {
    font-family:"Roboto";
    src: url("//src/styles/fonts/Roboto-Thin.ttf") format("truetype");
}

#ProjectButton {
    color:white;
    background-color: black;
    border-color:white;

    vertical-align: top;
    width:300px;
    height:300px;
    border-radius: 50px;
    border-style: solid;

    text-align: center;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:25px;
    margin-bottom:25px;

    font-size: 25pt;
}

#ProjectButton:hover {
    border-color: lightgreen;
    color:lightgreen;
    cursor:pointer;
}

#description {
    font-size: 15pt;
    margin-left: 15pt;
    margin-right: 15pt;
}

#ProjectButtonDiv {
    display:inline-block;
}

#projectDescription {
    color:black;
    font-size: 15pt;
    text-align: left;
    margin-right: 10px;
}

#descriptionTitle {
    font-size: 20pt;
    font-family:'Roboto';
}

#repoLink {
    text-decoration: none;
    font-size: 15pt;
    font-family: 'Roboto';
    color:black;
}

#repoLink:hover {
    color:green;
}

#language {
    font-family: 'Roboto';
    font-size: 15pt;
    line-height: 10pt;
    margin-bottom: 15px;
}

#customModalDiv {
    background-color: red;
}