#ProjectButton {
    color:white;
    background-color: black;
    border-color:lightgreen;

    width:300px;
    height:300px;
    border-radius: 50px;
    border-style: solid;

    text-align: center;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;

    font-size: 25pt;
}

#ProjectButton:hover {
    color:lightgreen;
    cursor:pointer;
}

#description {
    font-size: 15pt;
    margin-left: 15pt;
    margin-right: 15pt;
}

#ProjectButtonDiv {
    display:inline-block;
}