@font-face {
    font-family:"Roboto";
    src: url("./Roboto-Thin.ttf") format("truetype");
}

#WebpageButton {
    text-align: center;
    font-size: 25pt;
    font-family: 'Roboto-Thin', "Roboto";

    color: white;
    background-color: black;
    border-color: lightgreen;

    width: 300px;
    height: 300px;
    border-radius: 30pt;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

#WebpageButton:hover {
    cursor: pointer;
}