#ScrollBox {
    width: 100vw;

    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    left: 0px;
}

#leftButton {
    background-color:black;
    border-color: white;
    border-style: solid;
    color:white;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 35pt;

    cursor: pointer;
}

#leftButton:hover {
    border-color: lightgreen;
    border-style: lightgreen;
    color:lightgreen;
}

#rightButton {
    background-color: black;
    border-color: white;
    border-style: solid;
    color:white;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 35pt;

    cursor: pointer;
}

#rightButton:hover {
    border-color: lightgreen;
    border-style: lightgreen;
    color:lightgreen;
}

.scroller-item {
    width: 10%;
    padding: 30px;
}

.ScrollContainer {
    overflow: scroll;
}