#ExternalWebpageButton {
    font-size: 15pt;
    font-family: 'Roboto-Thin', "Roboto";

    color: white;
    background-color: black;

    border-style: solid;
    border-color: black;
}

#ExternalWebpageButton:hover {
    cursor: pointer;
}

#mainLink {
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    display: inline-block;

    width: fit-content;
    height: fit-content;
    border-radius: 60pt;
    margin-right: 50px;
    margin-left: 50x;
}