#ExternalWebpageButton {
    text-align: center;
    font-size: 15pt;
    font-family: 'Roboto-Thin', "Roboto";

    color: white;
    background-color: black;
    border-color: black;

    width: 120px;
    height: 120px;
    border-radius: 60pt;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50x;

    background-size: cover;
    background-position: center;
}

#ExternalWebpageButton:hover {
    cursor: pointer;
}