@font-face {
    font-family:"Roboto";
    src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}

body {
    background-color: black;
}

h1 {
    font-family: 'Roboto-Thin', "Roboto";
    color: white;
    font-size: 85pt;   
}

p {
    font-family: 'Roboto-Thin', "Roboto";
    line-height: 30pt;
    color: white;
    font-size: 20pt;
    margin-left: 100pt;
    margin-right: 100pt;
}

#navbar {
    font-family: 'Roboto-Thin', 'Roboto';

    display:flex;
    align-items:center;
    justify-content: flex-start;

    margin: 0;
    height: 65px;

    background-color: lightgreen;
}

#navitem {
    list-style: none;
    padding: 50px;
    font-size: 15pt;
}

#navitem:hover {
    color: lightgreen;
    background-color: black;
}