@font-face {
    font-family:"Roboto";
    src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}

body {
    background-color: black;
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Roboto-Thin', "Roboto";
    color: white;
    font-size: 85pt;   
}

p {
    font-family: 'Roboto-Thin', "Roboto";
    line-height: 30pt;
    font-size: 20pt;
}

button {
    font-family: 'Roboto-Thin', "Roboto";
}

#Intro, #Contact, #Hobbies, #ProjectsPage, #Coursework {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#ExperienceBox {
    width: 65%;
}

#centerText {
    color: white;
}

div::-webkit-scrollbar {
    width: 0px;
    display: none;
    background: transparent;
}

#coursesContainerBox {
    width: 80%;
    padding-left: 10%;
}