@font-face {
    font-family:"Roboto";
    src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}

body {
    background-color: black;
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Roboto-Thin', "Roboto";
    color: white;
    font-size: 85pt;   
}

p {
    font-family: 'Roboto-Thin', "Roboto";
    line-height: 30pt;
    color: white;
    font-size: 20pt;
}

button {
    font-family: 'Roboto-Thin', "Roboto";
}

#ProjectsPage {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#Intro, #Contact, #Hobbies, #Projects {
    width: 100%;
}